ANTHOLOGISE_STREMIO_ID = "io.github.lucas-kimber.anthologise"
ANTHOLOGISE_VERSION_NUMBER = "0.0.0"
ANTHOLOGISE_APP_NAME = "Anthologise"
ANTHOLOGISE_MANIFEST_DESCRIPTION = "An add-on for creating anthologies of films and episodes as catalogs or series."
ANTHOLOGISE_LOGO_URL = "https://raw.githubusercontent.com/Stremio/stremio-web/development/assets/images/stremio_symbol.png"